/*seccion footer*/ 
footer{
  width: 100%;
  height: 300px;
  background-color:$verdehoja;
  color: white;
  padding-top: 2%;
}
.bottom-con {
  padding-bottom: 20px;
    }
.bottom-con h5 {
  text-align: center;
}    
.bottom-con p {
  padding-left: 30%;
  text-align: left;
}
.newsletter {
  margin-top: 15px;
  padding: 0px 50px 0px 50px;
  text-align: center;
}