/*seccion best*/
.best{
  background-color:$grisoscuro;
}
.listazul{
    padding: 14px;
    background-color: $grisoscuro;
    color: white;
}
.listblanco{
  color: black;
}
.price .panel-footer {
  color: $blanco;
  border-bottom:0px;
  background-color:  $grisoscuro;
  box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}
.panel.price .btn{
  box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
  border:0px;
}
.price.panel>.panel-heading {
  color: $blanco;
  background-color: $grisoscuro;
  border-color: $verdehoja;
  border-bottom: 1px solid $verdehoja;
  padding: 2px;
}    
.price.panel>.panel-body {
  color: $blanco;
  background-color: $verdehoja;
  padding: 2px;
}
