/*seccion abaut*/
.abaut{
  @include box-shadow(0px 0px 16px 0px rgba(64, 60, 90, 0.69));
  background-color: $grisoscuro;
}
.miniabout{
  padding:2% 20% 2% 20%;
}
#cajabaut{
  width: 450px;
  height: 500px;
  position: relative;
}
.progress {
  height: 10px;
  border: 2.5px solid $grisclaro;
  margin-bottom: 0;
}
span{
  color: $blanco;
}
.letrabarra{
  font-size: 12px;
}
